<style>
    section {
        text-align: center;
        margin: 50px auto;
        max-width: 600px;
    }

    section h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    section p {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    div {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
</style>

<section>
    <h1>Contact Us</h1>
    <p>Feel free to get in touch with us!</p>
    <div>LinkedIn: <a href ="https://linkedin.com/in/krishnaagupta" target ="_blank">Krishna Gupta</a></div>
    <div>Website: <a href ="https://flavor-folio.onrender.com/" target ="_blank">flavor-folio.onrender.com</a></div>
</section>
