<style>
    .rounded-lg {
        border-radius: 1.5rem;
    }
</style>

<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6 text-center">
          <% if(typeof recipe !== 'undefined' && recipe.length > 0) { %>
              <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <% recipe.forEach(function(recipe, index){ %>
                    <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
                      <div class="category__img shadow">
                        <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
                      </div>
                      <div class="pt-1"><%= recipe.name %></div>
                    </a>
                    <% }) %>
                  <% } else { %>
              <div class="no-recipes">
                  <h1>Recipe Quest Lost</h1>
              </div>
          <% } %>
      </div>
  </div>
</div>

<style>
  .no-recipes {
      animation: fadeIn 1s ease;
  }

  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
</style>
